@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }

*  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    vertical-align: baseline;
}

body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

body, html {
    height: 100%;
}

.btn {
    background-color: var(--purple);
    color: var(--text-color);
    border: none;
    box-shadow: 0px 1px 5px var(--black);
    cursor: pointer;

    position: absolute;
    width: 160px;
    height: 46px;
    left: 200px;
    top: 525px;

}

.btn:hover {
    background-color: #5d55f3;
    box-shadow: none;

}

.container {
    max-width: 1000px;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1.5rem;
}

.time-container {
    flex-basis: 55%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 494px;
    height: 172px;
}

.timer-container h1 {
    font-size: 2.25rem;
    letter-spacing: 3px;
    color: var(--purple);
    margin-bottom: 1rem;
    width: 486px;
    height: 54px;

}

p {
    position: absolute;
    width: 349px;
    height: 21px;
    left: 92px;
    top: 489px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    


    color: #9C9AB6;

}

.timer-container .timer {
    margin-bottom: 1rem;
    display: flex;
    gap: 1.5rem;
    align-items: flex-end;

}

.timer-container .timer span {
    font-size: 4rem;
    color: var(--black);
}

.timer-container .timer .time small {
    color: var(--light-grey);
}

.timer-container .timer .time h2 {
    font-size: 4rem;
    font-weight: normal;
    color: var(--black);

}

.img-container .image img {
    width: 100%;
}

@media (max-width: 1020px) {
    .timer-container .timer {
        gap: 1rem;
    }

    .timer-cotainer .timer span, .timer-container .timer .time h2 {
        font-size: 3rem;
    }
}

@media (max-width: 968px) {
    body {
        overflow: auto;
    }

    .container {
        flex-direction: column;
    }

    .timer-container .timer .time {
        width: 100%;
    }
}

@media (max-width: 385px) {
    .timer-container .timer {
        gap: 0.5rem;
    }
}

@media (max-width: 335px) {
    .timer-container .timer {
        flex-direction: column;
    }

    .timer-container .timer span {
        display: none;
    }
}

